<!DOCTYPE html>
<html>
  <%- include("../partials/header") %>
  <body>
    <div class="homepageWrap">
      <div class="displayPanel">
        <div class="formWrap">
          <form class="weaponForm" method="POST" action=" ">
            <%- include("../partials/form/name") %> <%-
            include("../partials/form/value") %> <%-
            include("../partials/form/weight") %> <%-
            include("../partials/form/condition") %> <%-
            include("../partials/form/effects") %>
            <input type="submit" value="Submit" class="submitButton" />
          </form>
        </div>
        <%- include("../partials/homeLink") %>
      </div>
    </div>
  </body>
  <%- include("../scripts/eventScript") %>
</html>
